<% layout('layouts/boilerplate') %>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card d-flex flex-column justify-content-center align-items-center" style="background-color: ;">
      <div class="card-body">
        <img class="img-fluid"
          src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7888.jpg?w=400&t=st=1690255607~exp=1690256207~hmac=87afc636bee51498c8af10b18ca2f0aaaa6de65eb5747aecb1d042c75d68529d"
          alt="">
      </div>
      <div class="card-footer"> <a href="/show" class="btn btn-primary">Home</a></div>
    </div>
  </div>